body {
  background: rgb(25, 25, 30);
  width: 100vw;
}

.root {
  background-color: black;
}

@import "./variables";

@import "./neon-button";
@import "./text-input";
@import "./select_options";
@import "./line-button";
@import "./border-button";
@import "./_text-area";
@import "./file-input";
