@import "../../../layout/styles/variables";

body {
  background: rgb(25, 25, 30);
  width: 100vw;

  @include media-tablet {
    padding-inline: 10px;
  }
}

.bg-item {
  box-shadow: inset 0 0 30px 20px var(--color-item);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.mx-2 {
  margin-inline: 5px;
}

.layout-conatiner {
  padding: 10px;
  padding-left: calc(10rem + 4vw + 10px);
  margin-top: 83px;

  @include media-tablet {
    padding-left: 0;
  }
}

.header-admin {
  width: 100vw;
  color: var(--color-primary);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background: linear-gradient(rgb(15, 15, 19), rgba(26, 28, 36));
  backdrop-filter: blur(5px);
  z-index: 5;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  .header-nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 10px;

    &-hamburger {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 1.8rem;
      height: 2.1rem;
      cursor: pointer;
      display: none;

      @include media-tablet {
        display: flex;
      }

      span {
        width: 100%;
        background-color: gray;
        display: block;
        height: 3px;

        &:nth-child(2) {
          width: 50%;
          align-self: flex-start;
        }
      }

      &.active {
        span:nth-child(1) {
          width: 130%;
          transform: rotate(45deg) translate(0.5rem, 0.5rem);
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(3) {
          width: 130%;
          transform: rotate(-45deg) translate(0.5rem, -0.5rem);
        }
      }

      margin-right: 2rem;
    }

    &-img {
      width: calc(2rem + 1vw);
      aspect-ratio: 1;
    }
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    img {
      width: 3rem;
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
      border: 1px solid rgb(94, 94, 94);
      cursor: pointer;
      box-shadow: -1px 2px 7px rgb(101, 101, 101);
      transition: 0.2s;

      &:hover {
        transform: translate(-1px, 2px);
        box-shadow: initial;
      }
    }

    .select-icon {
      transform: scaleX(1.5) scaleY(0.8) rotate(-90deg);
    }

    a {
      text-decoration: none;
      color: var(--color-primary);
      font-size: 1.3rem;
      display: block;
      cursor: pointer;
    }
  }
}

.admin-sidebar {
  background: linear-gradient(rgba(23, 25, 32), rgb(10, 10, 15));
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  z-index: 20;
  color: var(--color-quinary);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(6px);
  // border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  top: 80px;
  left: 0;
  width: calc(10rem + 4vw);
  height: calc(100% - 72px);
  overflow-y: hidden;
  transition: 0.3s;

  @include media-tablet {
    width: 0;
  }

  &.active {
    width: 14em;
    font-size: 14px;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #2a2f44;
    border-radius: 10px;
  }

  & > div {
    height: 100%;
    overflow-y: scroll;
    padding: 1em 1em;

    scrollbar-width: thin;
    scrollbar-color: #2a2f44 transparent;
  }

  a {
    text-decoration: none;
  }

  small {
    color: #ccc;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.3em;
    color: #fff;
    font-weight: 600;
    padding-left: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;

    img {
      width: 2.5rem;
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
    }
  }

  .menu-heading {
    padding: 1em 0;
    margin: 2em 0 0.5em 0;
    display: block;
  }

  ul {
    padding-bottom: 1.5em;
    list-style-type: none;
    margin-top: 1rem;

    i {
      font-size: 1.5em;
      margin-right: 0.5em;
      width: 1.85rem;

      &.fa-sign-out {
        text-align: right;
        transform: rotate(180deg);
      }
    }
  }

  li {
    position: relative;
    perspective: preserve-3d;
    transition: 0.3s;

    &::after,
    &::before {
      content: "";
      height: 100%;
      position: absolute;
      z-index: -1;

      transition: 0.3s;
    }

    &.active::before,
    &:hover::before,
    &:active::before {
      content: "";
      position: absolute;
      left: 0px;
      top: 5%;
      height: 90%;
      width: 100%;
      z-index: -1;
      box-shadow: inset 0 0 50px 3px var(--color-tertiary);
      opacity: 0.9;
      border-radius: 5px;
    }

    &:hover::before {
      background: linear-gradient(90deg, var(--color-tertiary), transparent);
    }

    a {
      color: #ccc;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 1em;
      border-radius: 0.8em;
      transition: 0.3s;

      div {
        display: flex;
        justify-content: start;
        align-items: center;
      }
    }
  }
}
