@import "../styles/variables";

.sidebar {
  background: rgba(25, 25, 30, 0.7);
  z-index: 100;
  color: var(--color-quinary);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(6px);
  border-right: 1px solid rgba(255, 255, 255, 0.08);
  position: fixed;
  top: 84.4px;
  left: 0;
  width: 15em;
  height: calc(100vh - 84px);
  overflow-y: hidden;
  z-index: 10;
  transition: 0.3s;

  @include media-tablet {
    height: calc(100vh - 146px);
    top: 146px;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #2a2f44;
    border-radius: 10px;
  }

  & > div {
    height: 100%;
    overflow-y: scroll;
    padding: 0em 1em 1.7em 1em;

    scrollbar-width: thin;
    scrollbar-color: #2a2f44 transparent;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }

  .brand {
    display: block;
    font-size: 1.5em;
    color: #fff;
    font-weight: 600;
  }

  .menu-heading {
    padding: 1em;
    margin: 1em 0 0.5em 0;
    display: block;
    color: #ccc;
    font-size: 1.1rem;
  }

  ul {
    padding-bottom: 1.5em;

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      margin-right: 0.8em;
      filter: invert(100%) brightness(80%);
    }
  }

  li {
    position: relative;
    perspective: preserve-3d;
    transition: 0.3s;

    &::after,
    &::before {
      content: "";
      height: 100%;
      position: absolute;
      z-index: -1;

      transition: 0.3s;
    }

    &:hover::after,
    &.active::after {
      left: -6px;
      top: 0;
      width: 6px;
      background-color: var(--color-logo);
      z-index: -1;
      border-radius: 30px;
    }

    &:hover::after {
      background-color: var(--color-tertiary);
    }

    &.active::before,
    &:hover::before {
      content: "";
      position: absolute;
      left: 0px;
      top: 5%;
      height: 90%;
      width: 100%;
      z-index: -1;
      background: linear-gradient(90deg, var(--color-logo), transparent);
      filter: blur(2px);
    }

    &:hover::before {
      background: linear-gradient(90deg, var(--color-tertiary), transparent);
    }

    a {
      color: #ccc;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 1.1em 1em;
      border-radius: 0.8em;
      transition: 0.3s;

      div {
        display: flex;
        justify-content: start;
        align-items: center;
      }
    }
  }
}

.sidebar.close,
.sidebar.media-close {
  width: 4.5em;
  font-size: 14px;
  text-align: center;

  @include media-medium {
    width: 0;
  }

  .sidebar-item-title {
    display: none;
  }

  div {
    padding: 1.7em 0.2em 1.7em 0.3em;
  }

  .menu-heading {
    display: none;
  }

  hr {
    display: none;
  }
}
