@import "./../../../layout/styles/variables";

.profile {
  color: var(--color-primary);
  width: 350px;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  .header {
    .top {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;

      .topics,
      .comments {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4px;
        font-size: 0.85rem;

        span:nth-child(2) {
          opacity: 0.7;
          text-transform: uppercase;
        }
      }

      .img {
        width: 75px;
        height: 75px;
        padding: 5px;
        border-radius: 50%;
        position: relative;
        z-index: 1;

        i {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: rgb(255, 255, 255);
          z-index: 1;
          text-shadow: -1px 1px 1px black;
          cursor: pointer;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
          box-shadow: 0 0 1px gray;
        }

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 50%;
          border: 1px solid cyan;
          border-top-color: transparent;
          transform: rotate(60deg);
          z-index: -1;
        }
      }
    }

    .info {
      font-family: "Times New Roman", Times, serif;
      font-style: italic;
      text-align: center;
    }

    .buttons {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      gap: 7.5px;

      button {
        width: 80% !important;
        border-radius: 30px;
        border-width: 2px !important;
        padding-block: 8px;
        font-size: 0.75rem;
      }
    }
  }

  .content {
    .about {
      padding-top: 20px;
      border-top: 1px dashed gray;
      list-style-type: none;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      color: rgb(235, 235, 235);
      text-shadow: 0 0 1px rgb(173, 187, 187);
      font-family: "Times New Roman", Times, serif;
      font-style: italic;
    }
  }
}
