.upsert-topic-input,
.upsert-topic-select {
  margin-top: 0 !important;
}

.input-container {
  margin-top: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
}

.ql-editor {
  height: 200px !important;
}
