@import "../../../../layout/styles/variables";

$filter-color: #cecbff;
.pagenation {
  color: var(--color-primary);
  padding: 0.5rem 1rem;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 1rem;
  }

  .content {
    padding: 2rem 1rem;

    .table-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.4rem;

      .page-size {
        text-align: left;
        position: relative;
        width: 80px;
        border-radius: 5px;
        font-size: 0.95rem;
        padding: 6px 14px;
        // box-shadow: 0 0 7.5px $filter-color;
        border: 1px solid $filter-color;
        color: $filter-color;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.4);

        i {
          position: absolute;
          right: 10%;
          top: 50%;

          transform: translate(0, -50%);
          justify-self: right;
        }

        ul {
          position: absolute;
          list-style-type: none;
          width: 100%;
          color: $filter-color;
          cursor: pointer;
          z-index: 1;
          transform: scaleY(0);
          left: 0;
          top: 105%;
          border-radius: 5px;
          font-size: 0.9rem;
          transform-origin: top;
          transition: 0.3s ease-in-out;

          &.open {
            transform: scaleY(1);
          }

          li {
            padding-inline: 14px;
            color: white;
            box-shadow: 0 0 5px -1px $filter-color;
            padding-block: 4px;
            backdrop-filter: blur(5px);
            background-color: rgba(0, 0, 0, 0.5);
            cursor: pointer;

            &:hover {
              background-color: $filter-color;
              color: black;
            }
          }
        }
      }

      .filter-button {
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 3px $filter-color;
        border: 1px solid $filter-color;
        color: $filter-color;
        width: 50px;
        padding-block: 6.5px;
        font-size: 1rem;
        letter-spacing: 1px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background: radial-gradient($filter-color, var(--color-bg));
          color: black;
        }
      }

      .add-button {
        background: rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 3px rgb(47, 255, 57);
        border: 1px solid rgb(0, 171, 9);
        color: rgb(47, 255, 57);
        width: 110px;
        padding-block: 6.5px;
        font-size: 1rem;
        letter-spacing: 1px;
        border-radius: 5px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          background: radial-gradient(rgb(47, 255, 57), var(--color-bg));
          color: rgb(37, 37, 37);
        }
      }
    }

    .filters {
      margin-bottom: 20px;
      display: none;

      &.open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        width: 100%;
        margin-bottom: 20px;

        .item {
          width: calc(33.33% - 14px);

          &.large {
            width: calc(50% - 10px);

            @include media-small {
              width: 100%;
            }
          }

          @include media-medium {
            width: calc(50% - 10px);
          }

          @include media-small {
            width: 100%;
          }

          input,
          select {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.25);
            padding: 7px 15px;
            color: var(--color-primary);
            border-radius: 5px;
            font-size: 0.9rem;
            border: 1px solid rgba(70, 70, 70, 1);

            &:focus {
              border: 1px solid rgb(148, 148, 148);
              outline: none;
            }
          }

          select.decoration option:hover {
            box-shadow: 0 0 10px 100px #1882a8 inset !important;
          }
          select {
            cursor: pointer;

            option {
              background-color: rgb(29, 31, 36);
            }
          }
        }
      }

      .button {
        margin-block: 10px;
        width: calc(33% - 14px);
        text-align: center;
        button {
          font-size: 0.9rem;
          width: 100%;
          text-align: center;
          padding: 7px;
          cursor: pointer;
          border-radius: 10px;
          border: 1px solid $filter-color;
          color: $filter-color;
          // box-shadow: 0 0 3px $filter-color;
          background-color: transparent;
          transition: 0.3s;

          &:hover,
          &:active {
            background: radial-gradient($filter-color, transparent);
            color: black;
          }
        }
      }
    }

    .table-overflow {
      overflow-x: auto;
      scrollbar-width: thin;
      scrollbar-color: #2a2f44 transparent;

      ::-webkit-scrollbar {
        width: 5px;
      }

      ::-webkit-scrollbar-track {
        background: transparent;
      }

      ::-webkit-scrollbar-thumb {
        background-color: #2a2f44;
        border-radius: 10px;
      }

      table {
        text-align: center;
        overflow: scroll;
        border: 1px solid rgb(39, 39, 87);
        border-collapse: collapse;
        width: 99.9%;

        thead {
          font-size: calc(0.35vw + 0.75rem);

          @include media-tablet {
            font-size: calc(0.2vw + 0.8rem);
          }
        }

        tbody {
          font-size: calc(0.35vw + 0.65rem);
          opacity: 0.95;

          @include media-tablet {
            font-size: calc(0.2vw + 0.75rem);
          }
        }

        thead,
        tbody {
          tr {
            td,
            th {
              padding: 1rem;
              border: 1px solid rgb(49, 49, 103);
              border-collapse: collapse;

              @include media-medium {
                padding: 13px;
              }
            }

            th:last-child {
              border-right-width: 2px;
            }

            td {
              border-width: 2px;
            }

            &:nth-child(odd) {
              // background-color: rgba(50, 50, 80, 0.3);
              background-color: rgba(0, 0, 0, 0.5);
            }
            &:nth-child(even) {
              background-color: rgba(30, 30, 30, 0.3);
            }
          }
        }

        thead {
          tr {
            background-color: rgba(30, 30, 30, 0.3) !important;

            th {
              color: rgb(0, 183, 255) !important;
              font-weight: bolder;
            }
          }
        }
      }
    }

    .table-footer {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row-reverse;

      @include media-medium {
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 1rem;
      }

      .items-message {
        font-size: 1.05rem;
        // background: radial-gradient($filter-color, transparent);
        padding: 8px;
        color: gray;
      }

      .num-pad {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: min(2vw, 10px);
          list-style-type: none;

          li {
            width: calc(1.2vw + 35px);

            text-align: center;
            padding-block: calc(0.1vw + 5px);

            color: var(--color-primary);
            border: 1px solid var(--color-primary);
            // box-shadow: inset 0 0 10px var(--color-tertiary),
            //   0 0 2px var(--color-tertiary);
            cursor: pointer;
            border-radius: 5px;
            font-size: calc(0.15vw + 0.8rem);

            &.disable {
              opacity: 0.5;
              cursor: default;

              &:hover,
              &:active {
                border-color: var(--color-primary);
                color: var(--color-primary);
                box-shadow: initial;
              }
            }

            &:hover,
            &:active {
              border-color: $filter-color;
              color: $filter-color;
              box-shadow: 0 0 3px $filter-color;
            }

            &.active {
              border-color: white;
              color: white;
              box-shadow: inset 0 0 30px $filter-color;
            }
          }
        }
      }
    }
  }
}
